.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    background: rgba(244, 245, 249,1);
    padding: 20px 13px;
    height: 100vh;
}

.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    width : 280px;
}
